/* RESET */
body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f8;
}

/* NAVBAR */
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111827;
    padding: 15px 30px;
    color: white;
    animation: slideTop 0.8s ease-in-out;
}

.logo {
    color: #fbbf24;
    font-size: 24px;
    font-weight: bold;
}

.Navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

.Navbar a:hover {
    color: #fbbf24;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(17, 24, 39, 0.85), rgba(17, 24, 39, 0.85)), url("/image/1717.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 50px;
}

body.dark .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("/image/1111.jpg");
    background-size: cover;
    background-position: center;
}

/* BUTTON */
.btn,
.order-btn {
    background: #fbbf24;
    color: #111827;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover,
.order-btn:hover {
    background: #d97706;
    color: #ffffff;
}

/* LAYOUT */
.food-section,
.menu-container,
.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px;
}

/* CARD */
.card {
    background: #ffffff;
    width: 260px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #e5e7eb;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    position: relative;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* HEART */
.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: white;
}

.card input:checked+.heart {
    color: #ef4444;
}

/* FEATURED */
.featured {
    text-align: center;
    padding: 50px;
}

.featured h2 {
    color: #fbbf24;
}

/* MENU */
.menu {
    text-align: center;
    padding: 50px;
}

/* ABOUT */
.about {
    padding: 60px 20px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.about-img img {
    width: 350px;
    border-radius: 15px;
}

/* AUTH */
.auth {
    display: flex;
    justify-content: center;
    margin: 0;
    background: url("/image/1717.jpg") no-repeat center;
    height: 100vh;
    align-items: center;
    background-size: cover;
}

body.dark .auth {
    background: url("/image/1111.jpg") no-repeat center;
    background-size: cover;
    filter: brightness(0.6);
}

.form-box {
    background: #111827;
    padding: 30px;
    border-radius: 20px;
    width: 320px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    color: white;
}

.form-box h2 {
    color: #fbbf24;
    margin-bottom: 10px;
}

.form-box p {
    margin-bottom: 15px;
    font-size: 14px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    background: transparent;
    border-bottom: 1px solid #fbbf24;
}

.form-box button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #fbbf24;
    border: none;
    color: #111827;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    background: linear-gradient(45deg, #fbbf24, #f59e0b);
}

.form-box button:hover {
    background: #d97706;
}

/* DARK MODE */
body.dark .form-box {
    background: #333;
    color: white;
}

/* CONTACT */
.contact {
    padding: 60px;
    text-align: center;
}

.contact-form,
.contact-info {
    background: #0F172A;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    color: #F59E0B;
}

/* FOOTER */
footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 20px;
}

/* PRODUCT + CONFIRM CENTER */
.product,
.confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* PRODUCT */
.product {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.product img {
    width: 100%;
    border-radius: 10px;
}

/* CONFIRM */
.confirm {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* STATS */
.stats {
    text-align: center;
    margin: 50px 0;
}

.stats div {
    display: inline-block;
    margin: 20px;
}

/* TESTIMONIALS */
.testimonials {
    text-align: center;
}

.testimonials p {
    background: #ffffff;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border-left: 4px solid #fbbf24;
}

/* TEAM */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.hassan {
    background: #ffffff;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    border: 1px solid #e5e7eb;
}

.hassan img {
    width: 100%;
}

/* OFFER */
.offer {
    background: #fff7ed;
    padding: 30px;
    text-align: center;
}

/* DARK MODE */
body.dark {
    background: #0b0f19;
    color: white;
}

body.dark .Navbar,
body.dark footer {
    background: #0f172a;
}

body.dark .card,
body.dark .form-box {
    background: #111827;
    color: white;
}

@media (max-width: 768px) {
    .Navbar {
        flex-direction: column;
        gap: 15px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .food-section,
    .menu-container,
    .contact-container {
        flex-direction: column;
        padding: 20px;
    }

    .about-container {
        flex-direction: column;
        padding: 20px;
    }
}

.rating {
    direction: rtl;
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.rating input:checked~label {
    color: gold;
}

.rating label:hover,
.rating label:hover~label {
    color: gold;
}

.cart {
    background: #fff;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    margin: 10px 0;
}

social i {
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

social i:hover {
    color: #ff4d6d;
    transform: scale(1.2);
}

.hours {
    background: #fff7ed;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    width: 300px;
    margin: 40px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.hours h3 {
    color: #5a4b35;
    margin-bottom: 15px;
}

.hours p {
    font-size: 16px;

    margin: 8px 0;
}

.hours:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transform: 0.3s;
    transition: scale(1.05);
}


.timeline {
    position: relative;
    max-width: 900px;
    margin: 50px auto;
}

/* الخط */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background: linear-gradient(#8b5e3c, #d6a77a);
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* ===== ITEM (Flex حل المشكلة نهائيًا) ===== */
.timeline-item {
    display: flex;
    justify-content: flex-end;
    /* default right */
    position: relative;
    padding: 20px;
}

/* كل العناصر الزوجية تبقى شمال */
.timeline-item:nth-child(even) {
    justify-content: flex-start;
}

/* ===== CONTENT ===== */
.content {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    width: 45%;
    position: relative;
    transition: 0.3s;
}

.content:hover {
    transform: translateY(-5px);
}

/* ===== DOT ===== */
.timeline-item::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 4px solid #d6a77a;
    border-radius: 50%;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

/* ===== DATE ===== */
.date {
    display: inline-block;
    background: #d6a77a;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 8px;
}

/* ===== ANIMATION ===== */
.timeline-item {
    opacity: 0;
    transform: translateY(30px);
    animation: show 0.6s forwards;
}

.timeline-item:nth-child(1) {
    animation-delay: 0.2s;
}

.timeline-item:nth-child(2) {
    animation-delay: 0.4s;
}

.timeline-item:nth-child(3) {
    animation-delay: 0.6s;
}

.timeline-item:nth-child(4) {
    animation-delay: 0.8s;
}

.timeline-item:nth-child(5) {
    animation-delay: 1s;
}

.timeline-item:nth-child(6) {
    animation-delay: 1.2s;
}

@keyframes show {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.map a {

    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background: #0F172A;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}

.chef-card {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}